<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Loan/Borrower Details</div>
    <br>
    <div class="projectDetailTitle">Project Name</div>
    <br>
    <div class="projectDetailTitle">Project Type</div>
    <br>
    <div class="projectDetailTitle">Credit Analyst</div>
    <br>
    <div class="projectDetailTitle">Credit Officer</div>
    <br>
    <div class="projectDetailTitle">Date</div>
    <br>
    <div class="projectDetailTitle">Loan Amount</div>
    <br>
    <div class="projectDetailSectionTitle">SPECIFIC LOAN PURPOSE</div>
    <p class="projectParagraph">[Specific Loan Purpose Paragraph]</p>
    <br>
    <div class="projectDetailSectionTitle">TERMS</div>
    <br>
    <div class="projectDetailTitle">Loan Amortization (Month class="tableTitle"s)</div>
    <br>
    <div class="projectDetailTitle">Balloon Term</div>
    <br>
    <div class="projectDetailTitle">Interest Rate</div>
    <br>
    <div class="projectDetailTitle">Date</div>
    <br>
    <div class="projectDetailTitle">Loan Amount</div>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
      <div class="headerTitle">Loan Agreement, Structure and Credit Enhancements</div>
      <br>
      <div class="projectDetailTitle">Project Name</div>
      <br>
      <p>[Paragraph]</p>
      <br>
      <div class="projectDetailTitle">Project Type</div>
      <br>
      <p>[Paragraph]</p>
      <br>
      <div class="projectDetailTitle">Credit Analyst</div>
      <br>
      <p>[Paragraph]</p>
      <br>
      <div class="projectDetailTitle">Credit Officer</div>
      <br>
      <p>[Paragraph]</p>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Loan Agreement, Structure and Credit Enhancements</div>
    <br>
    <br>
    <div class="projectDetailTitle">Market Analysis Files</div>
    <br>
    <p class="projectParagraph">[Paragraph]</p>
    <br>
    <div class="projectDetailTitle">Collateral Site Improvement Files</div>
    <br>
    <p class="projectParagraph">[Paragraph]</p>
    <br>
    <div class="projectDetailTitle">Appraisal Reconciliation Files</div>
    <br>
    <p>[Paragraph]</p>
    <br>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Collateral Site and Improvement Analysis</div>
    <br>
    <div class="projectDetailSectionTitle">SITE DETAILS</div>
    <br>
    <div class="projectDetailTitle">Property Address</div>
    <p class="projectParagraph">Street Address</p>
    <p class="projectParagraph">City</p>
    <p class="projectParagraph">State</p>
    <p class="projectParagraph">Zip Code</p>
    <br>
    <div class="projectDetailTitle">Purchase Price</div>
    <br>
    <div class="projectDetailTitle">Appraised Value</div>
    <br>
    <div class="projectDetailTitle">Property Type</div>
    <br>
    <div class="projectDetailTitle">LTV Calculation</div>
    <br>
    <div class="projectDetailTitle">Reserves Required or Repairs Suggested by Appraiser</div>
    <br>
    <div class="projectDetailSectionTitle">COLLATERAL DESCRIPTION</div>
    <br>
    <br>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Collateral Site and Improvement Analysis Cont.</div>
    <br>
    <div class="projectDetailSectionTitle">PROPERTY OR SITE INSPECTION PHOTOS AND CONDITION</div>
    <br>
    <div class="projectDetailTitle">Property Pics</div> 
    <br>
    <img class="projectDetailTitle">
    <br>
    <div class="projectDetailTitle">Appraised Value</div>
    <br>
    <div class="projectDetailTitle">Property Type</div>
    <br>
    <div class="projectDetailTitle">LTV Calculation</div>
    <br>
    <div class="projectDetailTitle">Reserves Required or Repairs Suggested by Appraiser</div>
    <br>
    <div class="projectDetailSectionTitle">COLLATERAL DESCRIPTION</div>
    <br>
    <br>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Collateral Site and Improvement Analysis Cont.</div>
    <br>
    <div class="projectDetailSectionTitle">PROPERTY OR SITE INSPECTION PHOTOS AND CONDITION</div>
    <br>
    <div class="projectDetailTitle">Property Pics</div> 
    <br>
    <img class="projectDetailTitle">
    <br>
    <img>
    <br>
    <div class="projectDetailSectionTitle">APPRAISAL RECONCILIATION OF VALUE CONCLUSION</div>
    <br>
    <div class="projectDetailTitle">Appraisal Report</div>
    <br>
    <div class="projectDetailTitle">Appraisal Reconciliation Files</div>
    <br>
    <br>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Sources of Repayment</div>
    <br>
    <div class="projectDetailSectionTitle">PROPERTY CASH FLOW</div>
    <div class="projectDetailTitle">Rental Income Information</div> 
    <div class="projectDetailTitle">Tenant/Lease Information</div> 
    <br>
    <div class="projectDetailSectionTitle">APPRAISER'S INCOME APPROACH</div>
    <div class="projectDetailTitle">Net Operating Income</div>
    <div class="projectDetailTitle">Gross Potential Income</div>
    <div class="projectDetailTitle">Total Operating Expenses</div>
    <br>
    <div class="projectDetailSectionTitle">HISTORIC INCOME APPROACH</div>
    <div class="projectDetailTitle">Net Operating Income</div>
    <div class="projectDetailTitle">Gross Potential Income</div>
    <div class="projectDetailTitle">Total Operating Expenses</div>
    <br>
    <div class="projectDetailSectionTitle">UNDER-WRITER INCOME VALUES</div>
    <div class="projectDetailTitle">Net Operating Income</div>
    <div class="projectDetailTitle">Gross Potential Income</div>
    <div class="projectDetailTitle">Total Operating Expenses</div>
    <br>
    <div class="projectDetailSectionTitle">UNDER-WRITER COMMENTS</div>
    <p class="projectParagraph">Under-writer comments</p>
    <br>
    <div class="projectDetailSectionTitle">STANDARD PROPERTY CREDIT METRICS</div>
    <div class="projectDetailTitle">Debt Service Coverage Ratio</div>
    <br>
    <br>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Sources of Repayment Cont.</div>
    <br>
    <div class="projectDetailTitle">Maximum Sustainable Loan Amount</div>
    <br>
    <div class="projectDetailTitle">Loan to Value Ratio</div>
    <br>
    <div class="projectDetailTitle">Capitalization Ratio</div>
    <br>
    <div class="projectDetailTitle">Debt Yield</div>
    <br>
    <div class="projectDetailTitle">Break Even Rental Rate</div>
    <br>
    <div class="projectDetailTitle">Break Even Occupancy RRate</div>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Sources of Repayment Cont.</div>
    <br>
    <div class="tableCenter">
    <table class="table">
      <tr>
        <th class="tableTitle">Requested Loan Amount</th>
        <th class="tableTitle">Interest Rate</th>
        <th class="tableTitle">Term</th>
        <th class="tableTitle">Net Operating Income</th>
      </tr>
      <tr>
        <td class="tableSection">Alfreds Futterkiste</td>
        <td class="tableSection">Maria Anders</td>
        <td class="tableSection">Germany</td>
        <td class="tableSection">Germany</td>
      </tr>
      <tr>
        <th class="tableTitle">Company</th>
        <th class="tableTitle">Contact</th>
        <th class="tableTitle">Country</th>
        <th class="tableTitle">Country</th>
      </tr>
      <tr>
        <td class="tableSection">Ernst Handel</td>
        <td class="tableSection">Roland Mendel</td>
        <td class="tableSection">Austria</td>
        <td class="tableSection">Austria</td>
      </tr>
      <tr>
        <td class="tableSection">Island Trading</td>
        <td class="tableSection">Helen Bennett</td>
        <td class="tableSection">UK</td>
        <td class="tableSection">UK</td>
      </tr>
      <tr>
        <td class="tableSection">Laughing Bacchus Winecellars</td>
        <td class="tableSection">Yoshi Tannamuri</td>
        <td class="tableSection">Canada</td>
        <td class="tableSection">Canada</td>
      </tr>
      <tr>
        <td class="tableSection">Magazzini Alimentari Riuniti</td>
        <td class="tableSection">Giovanni Rovelli</td>
        <td class="tableSection">Italy</td>
        <td class="tableSection">Italy</td>
      </tr>
    </table>
    </div>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Sources of Repayment Cont.</div>
    <br>
    <div class="tableCenter">
    <table class="table">
      <tr>
        <td class="tableSection">Alfreds Futterkiste</td>
        <td class="tableSection">Maria Anders</td>
        <td class="tableSection">Germany</td>
        <td class="tableSection">Germany</td>
      </tr>
      <tr>
        <td class="tableSection">Ernst Handel</td>
        <td class="tableSection">Roland Mendel</td>
        <td class="tableSection">Austria</td>
        <td class="tableSection">Austria</td>
      </tr>
      <tr>
        <td class="tableSection">Island Trading</td>
        <td class="tableSection">Helen Bennett</td>
        <td class="tableSection">UK</td>
        <td class="tableSection">UK</td>
      </tr>
      <tr>
        <td class="tableSection">Laughing Bacchus Winecellars</td>
        <td class="tableSection">Yoshi Tannamuri</td>
        <td class="tableSection">Canada</td>
        <td class="tableSection">Canada</td>
      </tr>
      <tr>
        <td class="tableSection">Magazzini Alimentari Riuniti</td>
        <td class="tableSection">Giovanni Rovelli</td>
        <td class="tableSection">Italy</td>
        <td class="tableSection">Italy</td>
      </tr>
    </table>
    </div>
  </div>
</div>
<div class="pdfLetter">
  <div class="headerBar">
    <br>
    <div class="headerTitle">Sources of Repayment Cont.</div>
    <br>
    <div class="tableCenter">
    <table class="table">
      <tr>
        <td class="tableSection">Alfreds Futterkiste</td>
        <td class="tableSection">Maria Anders</td>
        <td class="tableSection">Germany</td>
        <td class="tableSection">Germany</td>
      </tr>
      <tr>
        <td class="tableSection">Ernst Handel</td>
        <td class="tableSection">Roland Mendel</td>
        <td class="tableSection">Austria</td>
        <td class="tableSection">Austria</td>
      </tr>
      <tr>
        <td class="tableSection">Island Trading</td>
        <td class="tableSection">Helen Bennett</td>
        <td class="tableSection">UK</td>
        <td class="tableSection">UK</td>
      </tr>
      <tr>
        <td class="tableSection">Laughing Bacchus Winecellars</td>
        <td class="tableSection">Yoshi Tannamuri</td>
        <td class="tableSection">Canada</td>
        <td class="tableSection">Canada</td>
      </tr>
      <tr>
        <td class="tableSection">Magazzini Alimentari Riuniti</td>
        <td class="tableSection">Giovanni Rovelli</td>
        <td class="tableSection">Italy</td>
        <td class="tableSection">Italy</td>
      </tr>
    </table>
    </div>
  </div>
</div>